absl-py==2.1.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.15.1
charset-normalizer==3.4.2
cryptography==45.0.4
dataclasses==0.6
decorator==4.4.2
future==1.0.0
google-auth==2.40.3
google-auth-oauthlib==0.4.6
grpcio==1.62.3
idna==3.10
imageio==2.31.2
imageio-ffmpeg==0.5.1
importlib-metadata==6.7.0
Markdown==3.4.4
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.19.2
oauthlib==3.2.2
Pillow==9.4.0
proglog==0.1.12
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.5.2
python-telegram-bot==12.4.0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
torch==1.7.0
tornado==6.2
tqdm==4.67.1
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
zipp==3.15.0
